* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* medida a partir das bordas sem somar entre eles*/
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(/assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(/assets/sun.svg);
}

body {
  /*a leitura da background é feita por: color image repeat position/size*/
  background: var(--bg-url) no-repeat center top/cover;
  height: 100vh; /*100% viewport (vp) ou seja preencherá toda parte visível*/
  /* background-size: cover;  estica a imagem para cobrir todo fundo */
}
body * {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}
#container {
  width: 100%;
  max-width: 588px;
  height: 712px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
/*Profile*/

#profile {
  text-align: center;
  width: 100%;
  height: 192px;
}
#profile img {
  width: 112px;
  padding-top: 24px;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
/*SWITH*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 999px;
}

/*links / botões*/

ul {
  list-style: none;

  display: flex; /*faz os elementos ficarem em pequenas caixas, só q flexíveis. O display block não é flexível*/
  flex-direction: column; /*trabalha com o flex para mostrar os elementos em colunas*/
  gap: 16px; /*da espaçamento entre elementos*/
  padding: 24px 0;
}

ul li a {
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(
    4px
  ); /*conferir elemento se vai ser compatível em todos elementos via site can I use e digitar a propriedade, no caso backdrop-filter :: neste caso foi necessário colocar o webkit para ser aceito em alguns browsers*/

  /*Podemos usar um efeito de transição nos botões ou em todo bloco a. Farei só com o fundo*/

  transition: background 0.2s;
}

ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-hover);
}

/*social links*/

#social_links {
  display: flex;
  padding: 24px;
  justify-content: center; /*centraliza conteúdo display flex*/
  font-size: 24px;
  gap: 10px;
}

#social_links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;

  transition: background 0.2s;
}
#social_links a:hover {
  background: var(--highlight-color);
}

footer {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}
/* media requeries */
/*forma de editar layout para ser responsivo*/

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
